In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('loan.csv')

/Users/patrickcorynichols/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1075269,1311441,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1069639,1304742,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1072053,1288686,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1071795,1306957,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1071570,1306721,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1070078,1305201,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1069908,1305008,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1064687,1298717,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1069866,1304956,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1069057,1303503,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1069759,1304871,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1065775,1299699,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1069971,1304884,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1062474,1294539,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1069742,1304855,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1069740,1284848,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1039153,1269083,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1069710,1304821,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1069700,1304810,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1069559,1304634,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1069697,1273773,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1069800,1304679,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1069657,1304764,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1069799,1304678,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1047704,1278806,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,36691397,39434133,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,39700.0,NaN,NaN,NaN
887350,36500819,39232937,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,22000.0,NaN,NaN,NaN
887351,36743377,39486112,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,20400.0,NaN,NaN,NaN
887352,36231083,38942474,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,9700.0,NaN,NaN,NaN
887353,36371802,39103231,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,26100.0,NaN,NaN,NaN
887354,36250801,38962184,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,8500.0,NaN,NaN,NaN
887355,36331554,39042967,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,129100.0,NaN,NaN,NaN
887356,36460697,39182359,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,65600.0,NaN,NaN,NaN
887357,35773415,38468842,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
887358,36440728,39152101,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,18700.0,NaN,NaN,NaN
887359,35591131,38288343,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,24400.0,NaN,NaN,NaN
887360,36361815,39093260,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,118600.0,NaN,NaN,NaN
887361,36201871,38913321,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,76300.0,NaN,NaN,NaN
887362,36381756,39013193,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,7300.0,NaN,NaN,NaN
887363,36231724,38943173,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,11900.0,NaN,NaN,NaN
887364,36231718,38943165,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN
887365,36381704,39013139,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,9900.0,NaN,NaN,NaN
887366,36241316,38952731,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,1800.0,NaN,NaN,NaN
887367,36301729,39023153,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN
887368,36250208,38961532,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,20700.0,NaN,NaN,NaN
887369,36421485,39142898,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,30100.0,NaN,NaN,NaN
887370,35094480,37777829,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,14500.0,NaN,NaN,NaN
887371,36260758,38972123,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,16800.0,NaN,NaN,NaN
887372,36330911,39042282,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN
887373,36221446,38932858,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,28100.0,NaN,NaN,NaN
887374,36371250,39102635,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN
887375,36441262,39152692,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
887376,36271333,38982739,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN
887377,36490806,39222577,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,27000.0,NaN,NaN,NaN
887378,36271262,38982659,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
id                             887379 non-null int64
member_id                      887379 non-null int64
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
term                           887379 non-null object
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
sub_grade                      887379 non-null object
emp_title                      835922 non-null object
emp_length                     887379 non-null object
home_ownership                 887379 non-null object
annual_inc                     887375 non-null float64
verification_status            887379 non-null object
issue_d                        887379 non-null object
loan_status                    887379 non-null object
pymnt_plan                     887379 non-null object
url                            887379 non-null object
desc                           126029 non-null object
purpose                        887379 non-null object
title                          887228 non-null object
zip_code                       887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
earliest_cr_line               887350 non-null object
inq_last_6mths                 887350 non-null float64
mths_since_last_delinq         433067 non-null float64
mths_since_last_record         137053 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
revol_util                     886877 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_d                   869720 non-null object
last_pymnt_amnt                887379 non-null float64
next_pymnt_d                   634408 non-null object
last_credit_pull_d             887326 non-null object
collections_12_mths_ex_med     887234 non-null float64
mths_since_last_major_derog    221703 non-null float64
policy_code                    887379 non-null float64
application_type               887379 non-null object
annual_inc_joint               511 non-null float64
dti_joint                      509 non-null float64
verification_status_joint      511 non-null object
acc_now_delinq                 887350 non-null float64
tot_coll_amt                   817103 non-null float64
tot_cur_bal                    817103 non-null float64
open_acc_6m                    21372 non-null float64
open_il_6m                     21372 non-null float64
open_il_12m                    21372 non-null float64
open_il_24m                    21372 non-null float64
mths_since_rcnt_il             20810 non-null float64
total_bal_il                   21372 non-null float64
il_util                        18617 non-null float64
open_rv_12m                    21372 non-null float64
open_rv_24m                    21372 non-null float64
max_bal_bc                     21372 non-null float64
all_util                       21372 non-null float64
total_rev_hi_lim               817103 non-null float64
inq_fi                         21372 non-null float64
total_cu_tl                    21372 non-null float64
inq_last_12m                   21372 non-null float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [8]:
idents = ['emp_title','emp_length','home_ownership','annual_inc','verification_status','zip_code','addr_state',
         'dti','purpose']

In [9]:
data[idents]

,emp_title,emp_length,home_ownership,annual_inc,verification_status,zip_code,addr_state,dti,purpose
0,NaN,10+ years,RENT,24000.00,Verified,860xx,AZ,27.65,credit_card
1,Ryder,< 1 year,RENT,30000.00,Source Verified,309xx,GA,1.00,car
2,NaN,10+ years,RENT,12252.00,Not Verified,606xx,IL,8.72,small_business
3,AIR RESOURCES BOARD,10+ years,RENT,49200.00,Source Verified,917xx,CA,20.00,other
4,University Medical Group,1 year,RENT,80000.00,Source Verified,972xx,OR,17.94,other
5,Veolia Transportaton,3 years,RENT,36000.00,Source Verified,852xx,AZ,11.20,wedding
6,Southern Star Photography,8 years,RENT,47004.00,Not Verified,280xx,NC,23.51,debt_consolidation
7,MKC Accounting,9 years,RENT,48000.00,Source Verified,900xx,CA,5.35,car
8,NaN,4 years,OWN,40000.00,Source Verified,958xx,CA,5.55,small_business
9,Starbucks,< 1 year,RENT,15000.00,Verified,774xx,TX,18.08,other
10,Southwest Rural metro,5 years,OWN,72000.00,Not Verified,853xx,AZ,16.12,debt_consolidation
11,UCLA,10+ years,OWN,75000.00,Source Verified,913xx,CA,10.78,debt_consolidation
12,Va. Dept of Conservation/Recreation,< 1 year,RENT,30000.00,Source Verified,245xx,VA,10.08,debt_consolidation
13,Target,3 years,RENT,15000.00,Source Verified,606xx,IL,12.56,credit_card
14,SFMTA,3 years,RENT,100000.00,Source Verified,951xx,CA,7.06,other
15,Internal revenue Service,< 1 year,RENT,28000.00,Not Verified,641xx,MO,20.31,debt_consolidation
16,Chin's Restaurant,4 years,RENT,42000.00,Not Verified,921xx,CA,18.60,home_improvement
17,Duracell,10+ years,MORTGAGE,110000.00,Not Verified,067xx,CT,10.52,major_purchase
18,Connection Inspection,1 year,MORTGAGE,84000.00,Verified,890xx,UT,18.44,medical
19,Network Interpreting Service,6 years,RENT,77385.19,Not Verified,921xx,CA,9.86,debt_consolidation
20,Archdiocese of Galveston Houston,3 years,RENT,43370.00,Verified,770xx,TX,26.53,debt_consolidation
21,Osram Sylvania,10+ years,RENT,105000.00,Verified,335xx,FL,13.22,debt_consolidation
22,Value Air,10+ years,OWN,50000.00,Source Verified,799xx,TX,11.18,credit_card
23,Wells Fargo Bank,5 years,RENT,50000.00,Not Verified,917xx,CA,16.01,debt_consolidation
24,bmg-educational,1 year,RENT,76000.00,Not Verified,900xx,CA,2.40,major_purchase
25,Winfield Pathology Consultants,2 years,MORTGAGE,92000.00,Verified,605xx,IL,29.44,credit_card
26,nyc transit,9 years,RENT,60000.00,Not Verified,103xx,NY,15.22,debt_consolidation
27,Frito Lay,2 years,RENT,50004.00,Not Verified,150xx,PA,13.97,other
28,Shands Hospital at the University of Fl,10+ years,MORTGAGE,106000.00,Not Verified,326xx,FL,5.63,debt_consolidation
29,Oakridge homes,< 1 year,RENT,25000.00,Source Verified,564xx,MN,12.19,credit_card
...,...,...,...,...,...,...,...,...,...
887349,Mission info Tech,2 years,MORTGAGE,72000.00,Source Verified,325xx,FL,27.24,debt_consolidation
887350,Business agent,10+ years,RENT,93600.00,Source Verified,925xx,CA,15.72,debt_consolidation
887351,supervisor,10+ years,MORTGAGE,48000.00,Verified,810xx,CO,36.93,medical
887352,Support Scientist II,< 1 year,RENT,70000.00,Verified,209xx,MD,8.47,debt_consolidation
887353,VP of Operations,4 years,RENT,57000.00,Source Verified,339xx,FL,15.77,debt_consolidation
887354,Operator,10+ years,MORTGAGE,90000.00,Verified,308xx,GA,2.84,debt_consolidation
887355,NaN,n/a,RENT,54000.00,Verified,840xx,UT,18.11,debt_consolidation
887356,Assistant Maint Manager,10+ years,MORTGAGE,50000.00,Source Verified,597xx,MT,31.95,credit_card
887357,Field Supervisor,10+ years,RENT,52000.00,Source Verified,412xx,KY,11.28,debt_consolidation
887358,Owner,3 years,RENT,103000.00,Source Verified,282xx,NC,5.27,debt_consolidation
887359,NaN,n/a,OWN,55000.00,Not Verified,550xx,MN,5.52,debt_consolidation
887360,Business Manager,10+ years,MORTGAGE,92000.00,Verified,138xx,NY,29.60,debt_consolidation
887361,Director,10+ years,MORTGAGE,65000.00,Source Verified,021xx,MA,17.09,credit_card
887362,Sr. Tech,9 years,MORTGAGE,50000.00,Source Verified,871xx,NM,17.62,debt_consolidation
887363,Bartender,4 years,RENT,40000.00,Source Verified,891xx,NV,25.65,debt_consolidation
887364,Coordinator of RSVP,< 1 year,RENT,54000.00,Not Verified,325xx,FL,13.22,debt_consolidation
887365,machining Cell Lead,10+ years,RENT,57000.00,Verified,471xx,IN,16.80,debt_consolidation
887366,Painter,2 years,RENT,27000.00,Source Verified,330xx,FL,18.58,debt_consolidation
887367,Area Director,1 year,RENT,75000.00,Verified,333xx,FL,33.66,debt_consolidation
887368,Team Leader,8 years,MORTGAGE,30000.00,Verified,286xx,NC,1.00,major_purchase
887369,Lead Custodian,10+ years,MORTGAGE,50000.00,Verified,956xx,CA,12.63,car
887370,Owner,8 years,RENT,40000.00,Verified,531xx,WI,25.63,debt_consolidation
887371,NaN,n/a,OWN,32000.00,Verified,430xx,OH,29.44,debt_consolidation
887372,KYC Business Analyst,< 1 year,MORTGAGE,63000.00,Verified,432xx,OH,23.69,credit_card
887373,Manager,10+ years,RENT,25400.00,Verified,791xx,TX,27.08,credit_card
887374,Office Assistant,8 years,RENT,31000.00,Verified,905xx,CA,28.69,debt_consolidation
887375,Director of Maintenance,10+ years,MORTGAGE,79000.00,Verified,072xx,NJ,3.90,home_improvement
887376,Radiologist Technologist,5 years,RENT,35000.00,Verified,378xx,TN,30.90,debt_consolidation
887377,Painter,1 year,RENT,64400.00,Source Verified,010xx,MA,27.19,debt_consolidation
887378,Manager Hotel Operations Oasis,10+ years,RENT,100000.00,Verified,331xx,FL,10.83,credit_card